
/*------------------------------------------------root------------------------------------*/
:root {
  --brandColor: #2196F3;
  --brandHover: #188CE8;
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --lightFontColor: #ffffff;
  --mainBg: #2F303A;
  --sectionBg: #F5F4FA;
  --nullBg: #ffffff;
  --iconColor: #AFB1B8;
}
/* --------------------------------------------global------------------------------------*/
button {
  border: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  font-size: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--firstFontColor);
  font-size: 14px;
  line-height: 1.2;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* все что нужно сделать невидимым (для семантики и SEO) */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brandColor);
}
.logo > span {
  color:var(--firstFontColor);
}

.link:focus,
.link:hover {
  color: var(--brandColor);
}
/*---------------------------------------------header------------------------------------*/

.header {
  letter-spacing: 0.02em;
  font-weight: 500;
  border-bottom: 1px solid #ececec;
}
.thumb {
  display: flex;
}
.menu {
  display: flex;
}
.menu__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.navigation {
  display: flex;
}
.navigation__item{
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--firstFontColor);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item{
}
.contacts__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-smartphone{
  margin-right: 10px;
  fill: currentColor;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondFontColor);
}
.current {
  color:var(--brandColor);
}

/* -------------------------------------------studio-main--------------------------------*/
/*--------------------------------hero---------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--mainBg);
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* если нужно чтоб фон под картинкой был бесконечно широким */
/* .hero--bg {
  background-color: var(--mainBg);
} */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  text-align: center;
  max-width: 700px;
  margin-bottom: 30px;
  color: var(--lightFontColor);
}
.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--brandColor);
  color: var(--lightFontColor);
}
.hero__btn:focus,
.hero__btn:hover {
  background-color: var(--brandHover);
  cursor: pointer;
}
/*----------------------------rows-----------------------*/
.rows {
  display: flex;
}
.rows__item {
  flex-basis: calc((100% - 90px) / 4);
}
.rows__item:not(:last-child){
  margin-right: 30px;
}
.rows__box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.rows__icon {

}
.rows__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.rows__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondFontColor);
}
/*----------------------------work-------------------------*/
.position {
  padding-top: 0;
}
.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.works {
  display: flex;
}
.works__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.works__item:not(:last-child){
  margin-right: 30px;
}
.works__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.works__label {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightFontColor);
  
}
.works__img {
}
.background {
  background-color: var(--sectionBg);
}
/*------------------------------team-----------------------*/
.team {
  display: flex;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--nullBg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__img {
  display: block;
}
.team__box {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 30px 32px;
}
.team__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.team__text {
  margin-bottom: 16px;
  color: var(--secondFontColor);
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links__item {
}
.social-links__item:not(:last-child) {
  margin-right: 10px;
}
.social-links__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--iconColor);
}
.social-links__link:focus,
.social-links__link:hover {
  background-color: var(--brandColor);
  border-radius: 50%;
  color: var(--nullBg);
}
.social-links__icon {
  fill: currentColor;
}
/*----------------------------clients---------------------*/
.clients {
  display: flex;
}
.clients__item {
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--iconColor);
  color: var(--iconColor);
}
.clients__link:focus,
.clients__link:hover {
  color: var(--brandColor);
  border-color: var(--brandColor);
}
.clients__icon {
  fill: currentColor;
}
/* -----------------------------------------portfolio-main-------------------------------*/


.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;

  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--sectionBg);
}
.filter__btn:focus,
.filter__btn:hover {
  color: var(--lightFontColor);
  background-color: var(--brandColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
/* or with :not(:nth-child(3n))
          margin-right: 30px;*/
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio__link {
  display: block;
  color: var(--firstFontColor);
}
.portfolio__link:focus,
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__img {
  display: block;
}
.portfolio__box {
  padding: 20px 24px;
  background-color: var(--nullBg);
  border: 1px solid #eeeeee;
}
.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondFontColor);
}

/*---------------------------------------------footer------------------------------------*/

.footer {
  background-color: var(--mainBg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__logo > span {
  color: var(--lightFontColor);
}
.address {
}
.address__list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__map {
  text-decoration: none;
  color: var(--lightFontColor);
}
.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* ------------------------social links block-------------- */
.footer__thumb {
  display: flex;
  align-items: baseline;
}
.footer__box:first-child {
  margin-right: 70px;
}
.footer__box:nth-child(2) {

}
.footer__text {
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightFontColor);
  margin-bottom: 20px;
}
.social-links--position {
  padding: 0;
  margin: 0;
}
.social-links__link--style {
  color: var(--nullBg);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
/*---------------------------------------modal-window-----------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--nullBg);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nullBg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__icon {
}